<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540143847168-bnn3takpi33lqjn04ue5raorbmciem4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540143847168-bnn3takpi33lqjn04ue5raorbmciem4m</string>
	<key>API_KEY</key>
	<string>AIzaSyA9TL2hLIB0kQ-setrockg4r8D_ivm6SdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>540143847168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barahome</string>
	<key>PROJECT_ID</key>
	<string>homebara-359fe</string>
	<key>STORAGE_BUCKET</key>
	<string>homebara-359fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540143847168:ios:1f0f54d9a416fe476c15e5</string>
	<key>DATABASE_URL</key>
	<string>https://homebara-359fe.firebaseio.com</string>
</dict>
</plist>